<ul>
  <% Object.keys(locals.charts).forEach(function(chart) { %>
      <li><%= chart.name %> - <%= locals.charts.entries[entryName][0].version %>  <a href="/repos/<%= repo %>/<%= entryName %>">chart details</a></li>
  <% }); %>
</ul>
